@font-face{
	font-family: 'Georgina';
	src: url('../assets/fonts/headers/georgina/GeorginaDemo-Regular.ttf');
}
@font-face{
font-family: 'De Rotterdam';
src: url('../assets/fonts/headers/de_rotterdam/DeRotterdamDemo-Regular.otf');
}
@font-face{
font-family: 'Made Waffle Soft';
src: url('../assets/fonts/headers/made_waffle_soft/MMADE_Waffle_Soft PERSONAL_USE.otf');
}
@font-face{
font-family: 'Nonchalance';
src: url('../assets/fonts/headers/nonchalance/Nonchalance_Bold.otf');
}
@font-face{
font-family: 'Nova';
src: url('../assets/fonts/headers/nova2/NOVABOLD.otf');
}
@font-face{
font-family: 'Odin';
src: url('../assets/fonts/headers/odin_rounded/Odin_Rounded_Bold.otf');
}
@font-face{
font-family: 'Tommy Hilfiger';
src: url('../assets/fonts/headers/tommy_hilfiger/TOMMY___.TTF');
}
@font-face{
font-family: 'Cafe Brewery';
src: url('../assets/fonts/text/cafe_brewery/cafe_brewery.ttf');
}
@font-face{
font-family: 'Gravity';
src: url('../assets/fonts/text/gravity/Gravity-Light.otf');
}
@font-face{
font-family: 'Ormont';
src: url('../assets/fonts/text/ormont/Ormont_Light.otf');
}
@font-face{
font-family: 'Passion';
src: url('../assets/fonts/text/passion_sans_pd/PassionSansPDac-Light.ttf');
}
@font-face{
font-family: 'Slender Grey';
src: url('../assets/fonts/text/slendergrey/Slendergreyregular.ttf');
}
@font-face{
font-family: 'Light Font';
src: url('../assets/fonts/text/the_light_font/TheLightFont.ttf');
}
@font-face{
font-family: 'Vintage Straps';
src: url('../assets/fonts/text/vintage_straps/Vintage_Straps_light.ttf');
}

#date{
	font-size: 20px;
	writing-mode: vertical-rl;
  	text-orientation: upright;
  	margin-top: 50px;
}

#time{
	font-size: 45px;
	text-align: center;
}

#weather{
	font-size: 20px;
	text-align: center;
}

#mood{
	font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#goals{
	font-size: 20px;
	position: absolute;
    top: 10px;
    right: 10px;
}

#quote{
	font-size: 20px;
	top: 0;
	left: 0;
	width: 100%; 
	text-align: center;
}

/* ALL THE TO-DO CSS BELOW */

* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}

















