/*headers*/

@font-face{
font-family: 'francoisone';
src: url('../assets/fonts/headers/francoisone/FrancoisOne.ttf');
}
@font-face{
font-family: 'montserrat';
src: url('../assets/fonts/headers/montserrat/Montserrat-Bold.ttf');
}
@font-face{
font-family: 'Made Waffle Soft';
src: url('../assets/fonts/headers/made_waffle_soft/MMADE_Waffle_Soft PERSONAL_USE.otf');
}
@font-face{
font-family: 'Nonchalance';
src: url('../assets/fonts/headers/nonchalance/Nonchalance_Bold.otf');
}
@font-face{
font-family: 'odin_rounded';
src: url('../assets/fonts/headers/odin_rounded/Odin_Rounded_Bold.otf');
}
@font-face{
font-family: 'quando';
src: url('../assets/fonts/headers/quando/Quando-Regular.ttf');
}


/*text*/

@font-face{
font-family: 'didactgothic';
src: url('../assets/fonts/text/didactgothic/DidactGothic.ttf');
}
@font-face{
font-family: 'hind';
src: url('../assets/fonts/text/hind/Hind-Light.ttf');
}
@font-face{
font-family: 'Ormont';
src: url('../assets/fonts/text/ormont/Ormont_Light.otf');
}
@font-face{
font-family: 'judson';
src: url('../assets/fonts/text/judson/Judson-Regular.ttf');
}
url('../assets/fonts/text/slendergrey/Slendergreyregular.ttf');
}
@font-face{
font-family: 'passion_sans_pd';
src: url('../assets/fonts/text/passion_sans_pd/PassionSansPDac-Light.ttf');
}

#date{
	font-size: 20px;
	writing-mode: vertical-rl;
  	text-orientation: upright;
  	margin-top: 50px;
  	float:left;
  	margin-left: 5%;
}

#time{
	font-size: 45px;
	font-family: 'header';
	text-align: center;
	margin-top: 60px;
}

#weather{
	font-size: 20px;
	text-align: center;
	clear: left;
}

#mood{
	font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    clear: left;
}

#goals{
	font-size: 20px;
	position: absolute;
    top: 0;
    right: 0;
    clear: left;
}

#quote{
	font-size: 20px;
	top: 0;
	width: 60%; 
	text-align: center;
	margin-bottom: 7%;
}
